@model IEnumerable<object>

<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.FirstOrDefault()?.GetType().GetProperties() ?? new System.Reflection.PropertyInfo[0])
            {
                <th>@property.Name</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var property in item.GetType().GetProperties())
                {
                    <td>@property.GetValue(item)</td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GetType().GetProperty("Id")?.GetValue(item)" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.GetType().GetProperty("Id")?.GetValue(item)" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.GetType().GetProperty("Id")?.GetValue(item)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
